*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
build
build/
FlagshipDemo.iml
keystore.properties
local.properties
.idea/
.gradle/
*.apk
app/release/
/flagship/.git
/flagship/.gititgnore
/flagship/.old_git
/projectFilesBackup*
app/common/
app/keystore.properties
*/keystore.proprerties
projectFilesBackup/*
keystore.properties
*.apk
